<footer class="footer">
    <div class="content has-text-centered">
        <h3 class="menu-label">
            HamroStore
        </h3>

        <div class="list">
            <div class="list-item">
                <div class="list-item-title"><a class="list-item-title" href=" {% url 'register_store' %} ">Partner with us</a></div>
            </div>
            
            <div class="list-item">
                <div class="list-item-title"><a class="list-item-title" href=" {% url 'login_store' %} ">Log in Vendor</a></div>
            </div>
        </div>
    </div>
</footer>
